<h3>Inputs Basicos</h3>
<div>
  <mat-form-field>
      <input type="text" placeholder="Nombre" matInput>
  </mat-form-field> 
</div>

<h3>Prefijos y Sufijos</h3>
<div>
    <mat-form-field>
        <span matPrefix>+1&nbsp;</span>
        <input type="text" placeholder="Telefono" matInput>
        <span matSuffix>:D</span>
    </mat-form-field> 
</div>

<h3></h3>
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Direccion">
    <mat-hint>Numero y Domicilio</mat-hint>
  </mat-form-field>
</div>
