<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar 
    src="https://d500.epimg.net/cincodias/imagenes/2016/03/16/lifestyle/1458143779_942162_1458143814_noticia_normal.jpg" alt="">
      <span mat-line>angel</span> 
      <span mat-line>comitan</span> 
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar 
      src="https://d500.epimg.net/cincodias/imagenes/2016/03/16/lifestyle/1458143779_942162_1458143814_noticia_normal.jpg" alt="">
      <span mat-line>Pepe</span>
      <span mat-line>Tuxtla</span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar 
      src="https://d500.epimg.net/cincodias/imagenes/2016/03/16/lifestyle/1458143779_942162_1458143814_noticia_normal.jpg" alt="">
      <span mat-line>Maria</span>
      <span mat-line>Oxaca</span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar 
      src="https://d500.epimg.net/cincodias/imagenes/2016/03/16/lifestyle/1458143779_942162_1458143814_noticia_normal.jpg" alt="">
      <span mat-line>Jose</span>
      <span mat-line>CdMx</span>
  </mat-list-item>
</mat-list>